<h3>Editing: <%= herb.first[:name] %> | <%= herb.first[:part] %></h3>
<form action="/update/<%= herb_id %>" method="post">
  <input type="text" placeholder="Herb Name" value ="<%= herb.first[:name] %>" name="herb_name">
  <input type="text" placeholder="Herb Part" value ="<%= herb.first[:part] %>" name="herb_part">
  <input type="submit" value="Update">

</form>